// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #131316 !important; //Background color
  --dark: #ccc8b1 !important; // Header color
  --secondary: #1f4a48 !important; //Hyperlink color
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important; //Center dot in graph color
  --gray: #a3c5a8 !important; //Normal text color
  --lightgray: #292633 !important; // Search box color, `text` color, code field color
  --outlinegray: #343434 !important; // Graph connection line color
  --highlighted: #574010;
}


/*
[saved-theme="dark"] {
  --light: #101014 !important; //Background color
  --dark: #fb3640 !important; // Header color
  --secondary: #7fc6a4 !important; //Hyperlink color
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #fb3640 !important; //Center dot in graph color
  --gray: #366a7d !important; //Normal text color
  --lightgray: #151528 !important; // Search box color, `text` color, code field color
  --outlinegray: #343434 !important; // Graph connection line color
  --highlighted: #574010;
}
*/


// maybe this is a good header/ link color #533566

//   --light: #0c0c18 !important; //Background color
//   --dark: #9c213a !important; // Header color
//   --gray: #691657 !important; //Normal text color
//   --secondary: #265e73 !important; //Hyperlink color
//   --lightgray: #151528 !important; // Search box color, `text` color, code field color
