// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #4e4e4e;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
  --highlighted: #f5dfaf88;
}

[saved-theme="dark"] {
  --light: #0c0c18 !important; //Background color
  --dark: #9c213a !important; // Header color
  --secondary: #265e73 !important; //Hyperlink color
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #9c213a !important; //Center dot in graph color
  --gray: #82176b !important; //Normal text color
  --lightgray: #151528 !important; // Search box color, `text` color, code field color
  --outlinegray: #343434 !important; // Graph connection line color
  --highlighted: #574010;
}



