// put your custom CSS here!

img, iframe{
	border-radius: 12px;
}



table {
  border: 1px solid gray;
  width: 100%;
  padding: 1.5em;
  border-collapse: collapse;
  width: auto;
  table-layout: fixed;
}

td, th {
  padding: 0.2em 1em;
  border: 1px solid gray;
  word-wrap: break-word;
  white-space:pre-wrap;
}